{% extends 'admin/change_list.html' %}
  {% block object-tools %}
    <div style="display: flex; flex-direction: row; flex-wrap: wrap">
      <div style="margin: 5px 5px 5px 5px;  display: block">
        <form action="{% url 'gen_stud' %}" method="POST">
          {% csrf_token %}
            <input type="submit" value="Генерация студентов" />
        </form>
      </div>
      <div style="margin: 5px 5px 5px 5px;  display: block">
        <form action="{% url 'upload_stud' %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="Загрузка студентов" />
        </form>
      </div>
      <div style="margin: 5px 5px 5px 5px;  display: block">
        <form action="{% url 'ask_students_choose_time' %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="Запрос временных возможностей" />
        </form>
      </div>
    </div>
  {{ block.super }}
{% endblock %}
